.name-plate {

    h1 {
        color: rgb(255 255 255);
        text-transform: lowercase;
        letter-spacing: 0.125rem;
        font-size: 4rem;
        margin-top: 0;
        margin-left: 0.625rem;
        margin-bottom: 1.5rem;
    }

    sup {
        font-size: 40%;
    }
}